trigger:
  branches:
    include:
      - main

variables:
  pythonVersion: '3.10'


pool:
	name: 'TestAgent'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(pythonVersion)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install Dependencies

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '.'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
  displayName: 'Archive App'

- publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
  artifact: drop

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'connection1'
    appType: webAppLinux
    appName: 'testapp132'
    package: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
